# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
dub.selections.json

/model-crm
model-crm.so
model-crm.dylib
model-crm.dll
model-crm.a
model-crm.lib
model-crm-test-*
*.exe
*.o
*.obj
*.lst
dub.selections.json
