.dub
docs.json
__dummy.html

/model-common
model-common.so
model-common.dylib
model-common.dll
model-common.a
model-common.lib
model-common-test-*
*.exe
*.o
*.obj
*.lst
dub.selections.json

libmodel-common.a
model-common.json
